In [14]:
import pandas as pd
import numpy as np
import math

In [15]:
df = pd.read_csv('data/competidoras.csv', sep=';')

In [16]:
df[['OLA1', 'OLA2','OLA3', 'OLA4','SUMATORIA','ola1_ola2','ola3_ola4']] = df[['OLA1', 'OLA2','OLA3', 'OLA4','SUMATORIA','ola1_ola2','ola3_ola4']].apply(lambda x: x.str.replace(',', '.')).astype(float)

In [17]:
df['puesto heat 1'] = 0
df['puesto heat 2'] = 0
df

,NOMBRE COMPETIDORA,OLA1,OLA2,OLA3,OLA4,SUMATORIA,ola1_ola2,ola3_ola4,heat1,heat2,puesto heat 1,puesto heat 2
0,JAVIERA VELIZ,3.6,3.0,2.8,1.3,10.7,6.6,4.1,7,22,0,0
1,ISIDORA VERGARA,2.8,2.8,2.7,0.8,9.1,5.6,3.5,7,13,0,0
2,GLORIA CORTEZ,1.6,1.7,1.7,1.2,6.2,3.3,2.9,7,22,0,0
3,CAMILA VERDEJO,1.3,0.9,1.8,1.4,5.4,2.2,3.2,10,13,0,0
4,ISIDORA GRUNWALD,1.9,1.2,0.9,1.1,5.1,3.1,2.0,10,22,0,0
5,KATALINA PAVEZ,1.4,2.1,1.6,0.0,5.1,3.5,1.6,7,19,0,0
6,JAVIERA QUIROZ,1.4,2.3,0.7,0.7,5.1,3.7,1.4,10,22,0,0
7,TRINIDAD SEGURA,1.1,0.9,1.3,1.7,5.0,2.0,3.0,10,16,0,0
8,MARTINA GONZALES,0.5,0.5,1.0,2.3,4.3,1.0,3.3,1,13,0,0
9,PAULA BARAHONA,1.8,2.4,0.0,0.0,4.2,4.2,0.0,1,13,0,0
10,TERESITA ZAMORANO,0.8,0.8,0.8,0.6,3.0,1.6,1.4,1,16,0,0
11,ELISA AMENABAR,0.2,0.2,1.2,1.3,2.9,0.4,2.5,1,16,0,0
12,DANIELA JARA,0.4,1.2,0.0,0.0,1.6,1.6,0.0,4,16,0,0
13,NATALIA ESCOBAR D√çAZ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,19,0,0
14,BETANIA CZOLLAK,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,19,0,0
15,SAMANTHA ISABELLA WILSON CENTELLA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,19,0,0

In [18]:
for i in range(1,12+1):
    heat = df[df['heat1'] == i]
    heat['puesto heat 1'] = heat['ola1_ola2'].rank(method='min', ascending=False).astype(int)
    df.loc[heat.index, 'puesto heat 1'] = heat['puesto heat 1'].values
    if i == 3:
        print(heat)
df

Empty DataFrame
Columns: [NOMBRE COMPETIDORA, OLA1, OLA2, OLA3, OLA4, SUMATORIA, ola1_ola2, ola3_ola4, heat1, heat2, puesto heat 1, puesto heat 2]
Index: []

/var/folders/y_/lxfwq5ls6jv6jkjdvn7zmy5w0000gn/T/ipykernel_68434/123586641.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  heat['puesto heat 1'] = heat['ola1_ola2'].rank(method='min', ascending=False).astype(int)
/var/folders/y_/lxfwq5ls6jv6jkjdvn7zmy5w0000gn/T/ipykernel_68434/123586641.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  heat['puesto heat 1'] = heat['ola1_ola2'].rank(method='min', ascending=False).astype(int)
/var/folders/y_/lxfwq5ls6jv6jkjdvn7zmy5w0000gn/T/ipykernel_68434/123586641.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  heat['puesto heat 1'] = heat['ola1_ola2'].rank(method='min', ascending=False).astype(int)
/var/folders/y_/lxfwq5ls6jv6jkjdvn7zmy5w0000gn/T/ipykernel_68434/123586641.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  heat['puesto heat 1'] = heat['ola1_ola2'].rank(method='min', ascending=False).astype(int)

,NOMBRE COMPETIDORA,OLA1,OLA2,OLA3,OLA4,SUMATORIA,ola1_ola2,ola3_ola4,heat1,heat2,puesto heat 1,puesto heat 2
0,JAVIERA VELIZ,3.6,3.0,2.8,1.3,10.7,6.6,4.1,7,22,1,0
1,ISIDORA VERGARA,2.8,2.8,2.7,0.8,9.1,5.6,3.5,7,13,2,0
2,GLORIA CORTEZ,1.6,1.7,1.7,1.2,6.2,3.3,2.9,7,22,4,0
3,CAMILA VERDEJO,1.3,0.9,1.8,1.4,5.4,2.2,3.2,10,13,3,0
4,ISIDORA GRUNWALD,1.9,1.2,0.9,1.1,5.1,3.1,2.0,10,22,2,0
5,KATALINA PAVEZ,1.4,2.1,1.6,0.0,5.1,3.5,1.6,7,19,3,0
6,JAVIERA QUIROZ,1.4,2.3,0.7,0.7,5.1,3.7,1.4,10,22,1,0
7,TRINIDAD SEGURA,1.1,0.9,1.3,1.7,5.0,2.0,3.0,10,16,4,0
8,MARTINA GONZALES,0.5,0.5,1.0,2.3,4.3,1.0,3.3,1,13,3,0
9,PAULA BARAHONA,1.8,2.4,0.0,0.0,4.2,4.2,0.0,1,13,1,0
10,TERESITA ZAMORANO,0.8,0.8,0.8,0.6,3.0,1.6,1.4,1,16,2,0
11,ELISA AMENABAR,0.2,0.2,1.2,1.3,2.9,0.4,2.5,1,16,4,0
12,DANIELA JARA,0.4,1.2,0.0,0.0,1.6,1.6,0.0,4,16,1,0
13,NATALIA ESCOBAR D√çAZ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,19,2,0
14,BETANIA CZOLLAK,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,19,2,0
15,SAMANTHA ISABELLA WILSON CENTELLA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,19,2,0

In [19]:
for i in range(12,24+1):
    heat = df[df['heat2'] == i]
    heat['puesto heat 2'] = heat['ola3_ola4'].rank(method='min', ascending=False).astype(int)
    df.loc[heat.index, 'puesto heat 2'] = heat['puesto heat 2'].values

/var/folders/y_/lxfwq5ls6jv6jkjdvn7zmy5w0000gn/T/ipykernel_68434/3124455118.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  heat['puesto heat 2'] = heat['ola3_ola4'].rank(method='min', ascending=False).astype(int)
/var/folders/y_/lxfwq5ls6jv6jkjdvn7zmy5w0000gn/T/ipykernel_68434/3124455118.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  heat['puesto heat 2'] = heat['ola3_ola4'].rank(method='min', ascending=False).astype(int)
/var/folders/y_/lxfwq5ls6jv6jkjdvn7zmy5w0000gn/T/ipykernel_68434/3124455118.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  heat['puesto heat 2'] = heat['ola3_ola4'].rank(method='min', ascending=False).astype(int)
/var/folders/y_/lxfwq5ls6jv6jkjdvn7zmy5w0000gn/T/ipykernel_68434/3124455118.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  heat['puesto heat 2'] = heat['ola3_ola4'].rank(method='min', ascending=False).astype(int)

In [20]:
df

,NOMBRE COMPETIDORA,OLA1,OLA2,OLA3,OLA4,SUMATORIA,ola1_ola2,ola3_ola4,heat1,heat2,puesto heat 1,puesto heat 2
0,JAVIERA VELIZ,3.6,3.0,2.8,1.3,10.7,6.6,4.1,7,22,1,1
1,ISIDORA VERGARA,2.8,2.8,2.7,0.8,9.1,5.6,3.5,7,13,2,1
2,GLORIA CORTEZ,1.6,1.7,1.7,1.2,6.2,3.3,2.9,7,22,4,2
3,CAMILA VERDEJO,1.3,0.9,1.8,1.4,5.4,2.2,3.2,10,13,3,3
4,ISIDORA GRUNWALD,1.9,1.2,0.9,1.1,5.1,3.1,2.0,10,22,2,3
5,KATALINA PAVEZ,1.4,2.1,1.6,0.0,5.1,3.5,1.6,7,19,3,1
6,JAVIERA QUIROZ,1.4,2.3,0.7,0.7,5.1,3.7,1.4,10,22,1,4
7,TRINIDAD SEGURA,1.1,0.9,1.3,1.7,5.0,2.0,3.0,10,16,4,1
8,MARTINA GONZALES,0.5,0.5,1.0,2.3,4.3,1.0,3.3,1,13,3,2
9,PAULA BARAHONA,1.8,2.4,0.0,0.0,4.2,4.2,0.0,1,13,1,4
10,TERESITA ZAMORANO,0.8,0.8,0.8,0.6,3.0,1.6,1.4,1,16,2,3
11,ELISA AMENABAR,0.2,0.2,1.2,1.3,2.9,0.4,2.5,1,16,4,2
12,DANIELA JARA,0.4,1.2,0.0,0.0,1.6,1.6,0.0,4,16,1,4
13,NATALIA ESCOBAR D√çAZ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,19,2,2
14,BETANIA CZOLLAK,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,19,2,2
15,SAMANTHA ISABELLA WILSON CENTELLA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,19,2,2

In [21]:
df['puntaje_p1']= 0
df['puntaje_p2']= 0

In [22]:
df

,NOMBRE COMPETIDORA,OLA1,OLA2,OLA3,OLA4,SUMATORIA,ola1_ola2,ola3_ola4,heat1,heat2,puesto heat 1,puesto heat 2,puntaje_p1,puntaje_p2
0,JAVIERA VELIZ,3.6,3.0,2.8,1.3,10.7,6.6,4.1,7,22,1,1,0,0
1,ISIDORA VERGARA,2.8,2.8,2.7,0.8,9.1,5.6,3.5,7,13,2,1,0,0
2,GLORIA CORTEZ,1.6,1.7,1.7,1.2,6.2,3.3,2.9,7,22,4,2,0,0
3,CAMILA VERDEJO,1.3,0.9,1.8,1.4,5.4,2.2,3.2,10,13,3,3,0,0
4,ISIDORA GRUNWALD,1.9,1.2,0.9,1.1,5.1,3.1,2.0,10,22,2,3,0,0
5,KATALINA PAVEZ,1.4,2.1,1.6,0.0,5.1,3.5,1.6,7,19,3,1,0,0
6,JAVIERA QUIROZ,1.4,2.3,0.7,0.7,5.1,3.7,1.4,10,22,1,4,0,0
7,TRINIDAD SEGURA,1.1,0.9,1.3,1.7,5.0,2.0,3.0,10,16,4,1,0,0
8,MARTINA GONZALES,0.5,0.5,1.0,2.3,4.3,1.0,3.3,1,13,3,2,0,0
9,PAULA BARAHONA,1.8,2.4,0.0,0.0,4.2,4.2,0.0,1,13,1,4,0,0
10,TERESITA ZAMORANO,0.8,0.8,0.8,0.6,3.0,1.6,1.4,1,16,2,3,0,0
11,ELISA AMENABAR,0.2,0.2,1.2,1.3,2.9,0.4,2.5,1,16,4,2,0,0
12,DANIELA JARA,0.4,1.2,0.0,0.0,1.6,1.6,0.0,4,16,1,4,0,0
13,NATALIA ESCOBAR D√çAZ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,19,2,2,0,0
14,BETANIA CZOLLAK,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,19,2,2,0,0
15,SAMANTHA ISABELLA WILSON CENTELLA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,19,2,2,0,0

In [23]:
def multiplicar_por_condicion(row):
    if row['puesto heat 1'] == 1:
        row['puntaje_p1']=10
        return row['puntaje_p1']
    elif row['puesto heat 1'] == 2:
        row['puntaje_p1']= 8.6
        return row['puntaje_p1']
    elif row['puesto heat 1'] == 3:
        row['puntaje_p1'] = 7.3
        return row['puntaje_p1']
    elif row['puesto heat 1'] == 4:
        row['puntaje_p1'] = 6.7
        return row['puntaje_p1']    
    else:
        return row['puntaje_p1']

# Aplicar la funci√≥n a cada fila del DataFrame y guardar el resultado en una nueva columna 'D'
df['puntaje_p1'] = df.apply(multiplicar_por_condicion, axis=1)

print(df)

                   NOMBRE COMPETIDORA  OLA1  OLA2  OLA3  OLA4  SUMATORIA  \
0                       JAVIERA VELIZ   3.6   3.0   2.8   1.3       10.7
1                     ISIDORA VERGARA   2.8   2.8   2.7   0.8        9.1
2                       GLORIA CORTEZ   1.6   1.7   1.7   1.2        6.2
3                      CAMILA VERDEJO   1.3   0.9   1.8   1.4        5.4
4                    ISIDORA GRUNWALD   1.9   1.2   0.9   1.1        5.1
5                      KATALINA PAVEZ   1.4   2.1   1.6   0.0        5.1
6                      JAVIERA QUIROZ   1.4   2.3   0.7   0.7        5.1
7                     TRINIDAD SEGURA   1.1   0.9   1.3   1.7        5.0
8                    MARTINA GONZALES   0.5   0.5   1.0   2.3        4.3
9                      PAULA BARAHONA   1.8   2.4   0.0   0.0        4.2
10                  TERESITA ZAMORANO   0.8   0.8   0.8   0.6        3.0
11                     ELISA AMENABAR   0.2   0.2   1.2   1.3        2.9
12                       DANIELA JARA   0.4   1.2   0.0   0.0        1.6
13              NATALIA ESCOBAR D√çAZ    0.0   0.0   0.0   0.0        0.0
14                    BETANIA CZOLLAK   0.0   0.0   0.0   0.0        0.0
15  SAMANTHA ISABELLA WILSON CENTELLA   0.0   0.0   0.0   0.0        0.0

    ola1_ola2  ola3_ola4  heat1  heat2  puesto heat 1  puesto heat 2  \
0         6.6        4.1      7     22              1              1
1         5.6        3.5      7     13              2              1
2         3.3        2.9      7     22              4              2
3         2.2        3.2     10     13              3              3
4         3.1        2.0     10     22              2              3
5         3.5        1.6      7     19              3              1
6         3.7        1.4     10     22              1              4
7         2.0        3.0     10     16              4              1
8         1.0        3.3      1     13              3              2
9         4.2        0.0      1     13              1              4
10        1.6        1.4      1     16              2              3
11        0.4        2.5      1     16              4              2
12        1.6        0.0      4     16              1              4
13        0.0        0.0      4     19              2              2
14        0.0        0.0      4     19              2              2
15        0.0        0.0      4     19              2              2

    puntaje_p1  puntaje_p2
0         10.0           0
1          8.6           0
2          6.7           0
3          7.3           0
4          8.6           0
5          7.3           0
6         10.0           0
7          6.7           0
8          7.3           0
9         10.0           0
10         8.6           0
11         6.7           0
12        10.0           0
13         8.6           0
14         8.6           0
15         8.6           0

In [24]:
df

,NOMBRE COMPETIDORA,OLA1,OLA2,OLA3,OLA4,SUMATORIA,ola1_ola2,ola3_ola4,heat1,heat2,puesto heat 1,puesto heat 2,puntaje_p1,puntaje_p2
0,JAVIERA VELIZ,3.6,3.0,2.8,1.3,10.7,6.6,4.1,7,22,1,1,10.0,0
1,ISIDORA VERGARA,2.8,2.8,2.7,0.8,9.1,5.6,3.5,7,13,2,1,8.6,0
2,GLORIA CORTEZ,1.6,1.7,1.7,1.2,6.2,3.3,2.9,7,22,4,2,6.7,0
3,CAMILA VERDEJO,1.3,0.9,1.8,1.4,5.4,2.2,3.2,10,13,3,3,7.3,0
4,ISIDORA GRUNWALD,1.9,1.2,0.9,1.1,5.1,3.1,2.0,10,22,2,3,8.6,0
5,KATALINA PAVEZ,1.4,2.1,1.6,0.0,5.1,3.5,1.6,7,19,3,1,7.3,0
6,JAVIERA QUIROZ,1.4,2.3,0.7,0.7,5.1,3.7,1.4,10,22,1,4,10.0,0
7,TRINIDAD SEGURA,1.1,0.9,1.3,1.7,5.0,2.0,3.0,10,16,4,1,6.7,0
8,MARTINA GONZALES,0.5,0.5,1.0,2.3,4.3,1.0,3.3,1,13,3,2,7.3,0
9,PAULA BARAHONA,1.8,2.4,0.0,0.0,4.2,4.2,0.0,1,13,1,4,10.0,0
10,TERESITA ZAMORANO,0.8,0.8,0.8,0.6,3.0,1.6,1.4,1,16,2,3,8.6,0
11,ELISA AMENABAR,0.2,0.2,1.2,1.3,2.9,0.4,2.5,1,16,4,2,6.7,0
12,DANIELA JARA,0.4,1.2,0.0,0.0,1.6,1.6,0.0,4,16,1,4,10.0,0
13,NATALIA ESCOBAR D√çAZ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,19,2,2,8.6,0
14,BETANIA CZOLLAK,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,19,2,2,8.6,0
15,SAMANTHA ISABELLA WILSON CENTELLA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,19,2,2,8.6,0

In [25]:
def multiplicar_por_condicion(row):
    if row['puesto heat 2'] == 1:
        row['puntaje_p2']=10
        return row['puntaje_p2']
    elif row['puesto heat 2'] == 2:
        row['puntaje_p2']= 8.6
        return row['puntaje_p2']
    elif row['puesto heat 2'] == 3:
        row['puntaje_p2'] = 7.3
        return row['puntaje_p2']
    elif row['puesto heat 2'] == 4:
        row['puntaje_p2'] = 6.7
        return row['puntaje_p2']    
    else:
        return row['puntaje_p2']

# Aplicar la funci√≥n a cada fila del DataFrame y guardar el resultado en una nueva columna 'D'
df['puntaje_p2'] = df.apply(multiplicar_por_condicion, axis=1)

print(df)

                   NOMBRE COMPETIDORA  OLA1  OLA2  OLA3  OLA4  SUMATORIA  \
0                       JAVIERA VELIZ   3.6   3.0   2.8   1.3       10.7
1                     ISIDORA VERGARA   2.8   2.8   2.7   0.8        9.1
2                       GLORIA CORTEZ   1.6   1.7   1.7   1.2        6.2
3                      CAMILA VERDEJO   1.3   0.9   1.8   1.4        5.4
4                    ISIDORA GRUNWALD   1.9   1.2   0.9   1.1        5.1
5                      KATALINA PAVEZ   1.4   2.1   1.6   0.0        5.1
6                      JAVIERA QUIROZ   1.4   2.3   0.7   0.7        5.1
7                     TRINIDAD SEGURA   1.1   0.9   1.3   1.7        5.0
8                    MARTINA GONZALES   0.5   0.5   1.0   2.3        4.3
9                      PAULA BARAHONA   1.8   2.4   0.0   0.0        4.2
10                  TERESITA ZAMORANO   0.8   0.8   0.8   0.6        3.0
11                     ELISA AMENABAR   0.2   0.2   1.2   1.3        2.9
12                       DANIELA JARA   0.4   1.2   0.0   0.0        1.6
13              NATALIA ESCOBAR D√çAZ    0.0   0.0   0.0   0.0        0.0
14                    BETANIA CZOLLAK   0.0   0.0   0.0   0.0        0.0
15  SAMANTHA ISABELLA WILSON CENTELLA   0.0   0.0   0.0   0.0        0.0

    ola1_ola2  ola3_ola4  heat1  heat2  puesto heat 1  puesto heat 2  \
0         6.6        4.1      7     22              1              1
1         5.6        3.5      7     13              2              1
2         3.3        2.9      7     22              4              2
3         2.2        3.2     10     13              3              3
4         3.1        2.0     10     22              2              3
5         3.5        1.6      7     19              3              1
6         3.7        1.4     10     22              1              4
7         2.0        3.0     10     16              4              1
8         1.0        3.3      1     13              3              2
9         4.2        0.0      1     13              1              4
10        1.6        1.4      1     16              2              3
11        0.4        2.5      1     16              4              2
12        1.6        0.0      4     16              1              4
13        0.0        0.0      4     19              2              2
14        0.0        0.0      4     19              2              2
15        0.0        0.0      4     19              2              2

    puntaje_p1  puntaje_p2
0         10.0        10.0
1          8.6        10.0
2          6.7         8.6
3          7.3         7.3
4          8.6         7.3
5          7.3        10.0
6         10.0         6.7
7          6.7        10.0
8          7.3         8.6
9         10.0         6.7
10         8.6         7.3
11         6.7         8.6
12        10.0         6.7
13         8.6         8.6
14         8.6         8.6
15         8.6         8.6

In [27]:
#df[['OLA1', 'OLA2','OLA3', 'OLA4']] = df[['OLA1', 'OLA2','OLA3', 'OLA4']].apply(lambda x: x.str.replace(',', '.')).astype(float)

In [28]:
df['Sumatoria de Olas'] = df['OLA1'].astype(float)+df['OLA2'].astype(float) +df['OLA3'].astype(float) + df['OLA4'].astype(float)

In [29]:
df['PuestoP'] = df['puntaje_p1']+df['puntaje_p2']+df['Sumatoria de Olas']

In [30]:
df_ordenado = df.sort_values(by='PuestoP', ascending=False)

In [35]:
df_ordenado['PuestoPP'] = df_ordenado['PuestoP'].rank(method='min', ascending=False).astype(int)
df_ordenado['Puesto'] = df_ordenado['SUMATORIA'].rank(method='min', ascending=False).astype(int)

In [36]:
df_ordenado

,NOMBRE COMPETIDORA,OLA1,OLA2,OLA3,OLA4,SUMATORIA,ola1_ola2,ola3_ola4,heat1,heat2,puesto heat 1,puesto heat 2,puntaje_p1,puntaje_p2,Sumatoria de Olas,PuestoP,PuestoPP,Puesto
0,JAVIERA VELIZ,3.6,3.0,2.8,1.3,10.7,6.6,4.1,7,22,1,1,10.0,10.0,10.7,30.7,1,1
1,ISIDORA VERGARA,2.8,2.8,2.7,0.8,9.1,5.6,3.5,7,13,2,1,8.6,10.0,9.1,27.7,2,2
5,KATALINA PAVEZ,1.4,2.1,1.6,0.0,5.1,3.5,1.6,7,19,3,1,7.3,10.0,5.1,22.4,3,5
6,JAVIERA QUIROZ,1.4,2.3,0.7,0.7,5.1,3.7,1.4,10,22,1,4,10.0,6.7,5.1,21.8,4,5
7,TRINIDAD SEGURA,1.1,0.9,1.3,1.7,5.0,2.0,3.0,10,16,4,1,6.7,10.0,5.0,21.7,5,8
2,GLORIA CORTEZ,1.6,1.7,1.7,1.2,6.2,3.3,2.9,7,22,4,2,6.7,8.6,6.2,21.5,6,3
4,ISIDORA GRUNWALD,1.9,1.2,0.9,1.1,5.1,3.1,2.0,10,22,2,3,8.6,7.3,5.1,21.0,7,5
9,PAULA BARAHONA,1.8,2.4,0.0,0.0,4.2,4.2,0.0,1,13,1,4,10.0,6.7,4.2,20.9,8,10
8,MARTINA GONZALES,0.5,0.5,1.0,2.3,4.3,1.0,3.3,1,13,3,2,7.3,8.6,4.3,20.2,9,9
3,CAMILA VERDEJO,1.3,0.9,1.8,1.4,5.4,2.2,3.2,10,13,3,3,7.3,7.3,5.4,20.0,10,4
10,TERESITA ZAMORANO,0.8,0.8,0.8,0.6,3.0,1.6,1.4,1,16,2,3,8.6,7.3,3.0,18.9,11,11
12,DANIELA JARA,0.4,1.2,0.0,0.0,1.6,1.6,0.0,4,16,1,4,10.0,6.7,1.6,18.3,12,13
11,ELISA AMENABAR,0.2,0.2,1.2,1.3,2.9,0.4,2.5,1,16,4,2,6.7,8.6,2.9,18.2,13,12
13,NATALIA ESCOBAR D√çAZ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,19,2,2,8.6,8.6,0.0,17.2,14,14
14,BETANIA CZOLLAK,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,19,2,2,8.6,8.6,0.0,17.2,14,14
15,SAMANTHA ISABELLA WILSON CENTELLA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,19,2,2,8.6,8.6,0.0,17.2,14,14

In [37]:
df_f = df_ordenado[['NOMBRE COMPETIDORA','Puesto','PuestoPP']]
df_f = df_f.reset_index(drop=True)

In [38]:
df_ordenado.to_csv('data/completo.csv', index=False)
df_f.to_csv('data/final.csv', index=False)

In [39]:
df_f['diff']= df_f['Puesto'] - df_f['PuestoPP']

In [40]:
df_f['diff'].max()

3

In [41]:
df_f['diff'].min()

-6

In [42]:
df_f

                   NOMBRE COMPETIDORA  Puesto  PuestoPP  diff
0                       JAVIERA VELIZ       1         1     0
1                     ISIDORA VERGARA       2         2     0
2                      KATALINA PAVEZ       5         3     2
3                      JAVIERA QUIROZ       5         4     1
4                     TRINIDAD SEGURA       8         5     3
5                       GLORIA CORTEZ       3         6    -3
6                    ISIDORA GRUNWALD       5         7    -2
7                      PAULA BARAHONA      10         8     2
8                    MARTINA GONZALES       9         9     0
9                      CAMILA VERDEJO       4        10    -6
10                  TERESITA ZAMORANO      11        11     0
11                       DANIELA JARA      13        12     1
12                     ELISA AMENABAR      12        13    -1
13              NATALIA ESCOBAR D√çAZ       14        14     0
14                    BETANIA CZOLLAK      14        14     0
15  SAMANTHA ISABELLA WILSON CENTELLA      14        14     0

In [43]:
df_f.to_csv('data/final.csv', index=False)

In [44]:
df_f = df_f.sort_values(by='diff', ascending=False)

In [45]:
df_f

                   NOMBRE COMPETIDORA  Puesto  PuestoPP  diff
4                     TRINIDAD SEGURA       8         5     3
2                      KATALINA PAVEZ       5         3     2
7                      PAULA BARAHONA      10         8     2
3                      JAVIERA QUIROZ       5         4     1
11                       DANIELA JARA      13        12     1
0                       JAVIERA VELIZ       1         1     0
1                     ISIDORA VERGARA       2         2     0
8                    MARTINA GONZALES       9         9     0
10                  TERESITA ZAMORANO      11        11     0
13              NATALIA ESCOBAR D√çAZ       14        14     0
14                    BETANIA CZOLLAK      14        14     0
15  SAMANTHA ISABELLA WILSON CENTELLA      14        14     0
12                     ELISA AMENABAR      12        13    -1
6                    ISIDORA GRUNWALD       5         7    -2
5                       GLORIA CORTEZ       3         6    -3
9                      CAMILA VERDEJO       4        10    -6

In [ ]:
df_f.to_csv('data/final.csv', index=False)